@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    padding: 3px;
    margin: 3px;
}
body{
    background-image: url(image/Frame_5.png);
    background-size: cover;
    font-family: 'Sriracha', cursive;
}
.navbar {
    background-color: #191919;
    border: solid 2px;
    border-color: rgb(255, 238, 0);
    border-radius: 20px;
}
.navbar a {
    text-decoration: none;
    color: white;
    display: inline;
}
.content{
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#result{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}