@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    padding: 3px;
    margin: 3px;
}
.navbar {
    background-color: #191919;
    border: solid 2px;
    border-color: rgb(255, 238, 0);
    border-radius: 20px;
    text-align: left;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
}

body{
    background: url(image/bg.png);
    background-size: cover;
    font-family: 'Sriracha', cursive;
    text-align: center;
}   
.content{
    font-size: 300%;
    display: inline-block;
}
#current{
    color: #ffee00
}